@import '~node_modules/modern-normalize/modern-normalize.css';
html{
    width: 100%;
}
body{
    position: relative;
}
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container{
    margin: 0 auto;
    &-w{
        max-width: 344px;
    }
    &-class{
        min-width: 344px;
        padding-left: 10px;
    }
    &-m{
        margin-top: 24px;
    }
    &-f{
        display: flex;
        align-items: center;
    }
    &-r{
        margin-right: 0;
    }
    &-scroll{
        overflow-y:visible;
        overflow-x: scroll;
    }
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
td,
tr,
th,
button,
input,
select {
  font-family: Manrope;
}
svg{
    display: block;
}
a{
    color: #1F2022;
    ;
}
