.card {
  &__header {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;

    border-radius: 36px 36px 0px 0px;
    background: #495af5;
    width: 455px;
    color: #fff;
  }
  &__class {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
  }
  &__download {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
  }
  &__download-text {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
  }
  &__download-icon {
    width: 24px;
    height: 24px;
  }
  &__table {
    padding: 16px;
    width: 455px;
    background: #fff;
    box-shadow: 6px 6px 36px 0px rgba(213, 212, 212, 0.08);
  }
  &__table-title {
    color: #161616;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    padding: 10px;
    width: fit-content;
    text-align: start;
  }
  &__table-data {
    width: fit-content;
    color: #161616;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    line-height: 1.4;
    &-svg {
      position: relative;
      display: flex;
      align-items: center;
      & > svg {
        right: 0;
      }
    }
  }
  tr {
    width: 423px;
    &.card__table-item:hover {
      background: #d5d2ff;
      cursor: pointer;
    }
  }
}
.redact-svg {
  position: absolute;
}
@media (min-width: 476px) {
  .card {
    &__header {
      padding: 10px 30px;
      width: 641px;
    }
    &__class {
      font-size: 24px;
    }
    &__download-text {
      font-size: 20px;
    }
    &__table {
      padding: 30px;
      width: 641px;
    }
    &__table-title {
      font-size: 20px;
    }
    &__table-data {
      font-size: 20px;
    }
    tr {
      width: 581px;
    }
  }
}
@media (min-width: 745px){
  .card {
    &__header {
      border-radius: 36px 36px 0px 0px;
      width: 768px;
    }
    &__class {
      font-size: 36px;
    }
    &__download-text {
      font-size: 20px;
    }
    &__table {
      padding: 30px;
      width: 768px;
    }
    &__table-title {
      font-size: 24px;
    }
    &__table-data {
      font-size: 24px;
    }
    tr {
      width: 726px;
      gap: 24px;
    }
  }
}

