svg,
svg > use {
  width: 24px;
  height: 24px;
}
.active {
  border-radius: 12px;
  background: #fff;
  & > h1,
  p {
    color: #192599;
  }
}
header {
  background-color: #192599;
  display: flex;
  align-items: center;
  width: 100%;
  @include responsive(height, 70, 82, 375, 744);
  // height: 70px;
  padding: 0 16px;
}
.header-button {
  @include responsive(width, 24, 32, 375, 744);
  @include responsive(height, 24, 32, 375, 744);
  // width: 24px;
  // height: 24px;
}
.logo {
  @include responsive(margin-left, 97, 212, 375, 744);
  text-wrap: nowrap;
  color: #fff;
  @include responsive(font-size, 18, 24, 375, 744);
  // font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.sort {
  // display: inline-flex;
  align-items: center;
  display: none;
  // align-items: flex-start;
  gap: 36px;
  &__class {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 8px;
  }
  &__group,
  &__title-class {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 8px;
  }
  &__modal-btn{
    color: #fff;
  }
  &__vaccination {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 8px;
  }
  &__title {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #fff;
  }
}
.support {
  display: flex;
  // gap: 8px;
  @include responsive(gap, 8, 24, 375, 744);
  @include responsive(margin-left, 56, 156, 375, 744);
}
@media (max-width: 374px) {
  .logo {
    @include responsive(margin-left, 57, 87, 319, 375);
    color: #fff;
    @include responsive(font-size, 13, 18, 319, 375);
    font-weight: 700;
    line-height: 1.4;
  }
  .support {
    display: flex;
    column-gap: 8px;
    @include responsive(margin-left, 26, 56, 319, 375);
  }
  header {
    @include responsive(padding-left, 0, 16, 319, 375);
    @include responsive(padding-right, 0, 16, 319, 375);
  }
}
// @media (min-width: 744px) {
//   svg,
//   svg > use {
//     width: 32px;
//     height: 32px;
//   }
//   header {
//     height: 82px;
//     padding: 0 16px;
//   }
//   .header-button {
//     width: 32px;
//     height: 32px;
//   }
//   .logo {
//     @include responsive(margin-left, 87, 212, 375, 745);
//     // margin-left: 212px;
//     font-size: 24px;
//   }

//   .support {
//     gap: 24px;
//     @include responsive(margin-left, 56, 156, 375, 745);
//     // margin-left: 56px;
//   }
// }
@media (min-width: 745px) {
  header {
    height: 82px;
  }
  .logo {
    margin-left: 0;
    font-size: 24px;
  }
  header > .container {
    justify-content: space-between;
  }
  .header-button {
    width: 32px;
    height: 32px;
  }
  .support {
    gap: 24px;
    margin-left: 0;
  }
  .burger {
    display: none;
  }
  .sort {
    display: inline-flex;
    margin: 0 auto;
    &__icon {
      width: 24px;
      height: 24px;
    }
    &__modal-block {
      display: inline-flex;
      top: 82px;
      position: absolute;
      padding: 24px;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      border-radius: 16px;
      background: #192599;
    }
    &__modal-btn {
      display: flex;
      padding: 10px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 32px;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.4;
      &:hover {
        background: #fff;
        color: #192599;
      }
      text-wrap: nowrap;
    }
  }
  .header {
    &__sort-modal {
      display: flex;

      flex-direction: column;
      position: relative;
      overflow: visible;
      cursor: pointer;
    }
  }
}
