.burger-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 48, 48, 0.3);
}
.modal {
  &__container {
    background-color: #fff;
    position: relative;
    width: 233px;
    height: 100%;
  }
  &__close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
  }
  &__close-svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  &__block {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    a {
      color: #192599;
    }
    button:hover {
      border-radius: 12px;
      outline: 1px solid #192599;
    }
  }
  &__block-title {
    color: #192599;
    font-size: 20px;
    font-weight: 800;
    line-height: 1;

    display: flex;
    width: 201px;
    height: 54px;
    padding: 10px 16px;
    align-items: center;
    gap: 77px;
    flex-shrink: 0;

    border-radius: 12px;
  }
  &__group {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-left: 16px;

    border-radius: 16px;
    background: #fff;
  }
  &__block-version {
    color: #192599;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;

    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 10px;

    &:hover {
      border-radius: 12px;
      outline: 1px solid #192599;
    }
  }
  &__vactination {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-left: 16px;

    border-radius: 16px;
    background: #fff;
  }
}
@media (min-width: 476px) {
  .modal {
    &__container {
      background-color: #fff;
      position: relative;
      width: 273px;
    }
    &__close {
      top: 24px;
      right: 24px;
    }
    &__block {
      padding-top: 75px;
    }
    &__block-title {
      font-size: 24px;
      display: flex;
      width: 159px;
      height: 54px;
    }
    &__group {
      gap: 24px;
      border-radius: 16px;
    }
    &__block-version {
      font-size: 24px;
      padding: 10px 16px;
    }
    &__vactination {
      gap: 24px;
      margin-left: 16px;
    }
  }
}
