.school__tier-title {
  color: #1f2022;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.table__item {
  margin-top: 24px;
}
.class {
  &-list {
    display: inline-flex;
    padding: 16px;
    padding-top: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 36px;
    background: #fff;
    box-shadow: 6px 6px 36px 0px rgba(213, 212, 212, 0.08);
    width: 100%;
    &__parallel {
      display: flex;
      align-items: flex-start;
      gap: 24px;
    }
  }
  &-paralel {
    display: flex;
    gap: 24px;
  }
}
.class-parallel {
  &__name {
    max-width: 60px;
    text-wrap: nowrap;
    box-sizing: border-box;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 36px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
    &:hover {
      border-radius: 36px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
      background: #495af5;
      & > a {
        color: #fff;
      }
    }

    color: #1f2022;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.18px;
  }
}
@media (max-width: 374px) {
  .school__tier-title {
    color: #1f2022;
    @include responsive(margin-bottom, 14, 16, 319, 375);
    @include responsive(font-size, 14, 16, 319, 375);
  }
  .table__item {
    @include responsive(margin-top, 20, 24, 319, 375);
  }
  .class-list {
    display: inline-flex;
    @include responsive(padding, 14, 16, 319, 375);
    @include responsive(padding-top, 24, 32, 319, 375);
    @include responsive(gap, 14, 16, 319, 375);
    &__parallel {
      @include responsive(gap, 20, 24, 319, 375);
    }
  }
  .class-parallel {
    &__name {
      @include responsive(max-width, 40, 60, 319, 375);
      @include responsive(padding-left, 16, 20, 319, 375);
      @include responsive(padding-right, 16, 20, 319, 375);
      @include responsive(padding-top, 8, 10, 319, 375);
      @include responsive(padding-bottom, 8, 10, 319, 375);
      @include responsive(gap, 8, 10, 319, 375);

      @include responsive(font-size, 16, 18, 319, 375);
    }
  }
  .container {
    @include responsive(max-width, 260, 344, 319, 375);
  }
}
@media (min-width: 476px) {
  .school__tier-title {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .table__item {
    margin-top: 36px;
  }
  .class {
    &-list {
      padding: 24px;
      padding-top: 48px;
      gap: 36px;
      &__parallel {
        gap: 21px;
      }
    }
  }
  .class-parallel {
    &__name {
      max-width: 134px;
      padding: 10px 36px;
      font-size: 32px;
    }
  }
}
@media (min-width: 745px) {
  .school__tier-title {
    margin-bottom: 24px;
    font-size: 32px;
    margin-left: 48px;
  }
  .table__item {
    margin-top: 40px;
  }
  .class {
    &-list {
      padding: 60px;
      padding-top: 60px;
      gap: 36px;
      &__parallel {
        gap: 103px;
      }
    }
    &-paralel {
      display: flex;
      gap: 103px;
    }
  }
  .class-parallel {
    &__name {
      max-width: 134px;
      padding: 10px 36px;

      font-size: 48px;
      letter-spacing: 0.4px;
    }
  }
}
