<div class="card">
  <div class="card__header">
    <h3 class="card__class">1-А клас</h3>
    <button class="card__download">
      <p class="card__download-text">Отримати дані</p>
      <svg class="card__download-icon">
        <use href="#"></use>
      </svg>
    </button>
  </div>
  <table class="card__table">
    <tbody>
      <tr>
        <th class="card__table-title">№</th>
        <th class="card__table-title">ПІБ</th>
        <th class="card__table-title">Щеплення</th>
      </tr>
      <tr class="card__table-item">
        <td id="table-data-id" class="card__table-data">1</td>
        <td id="table-data-name" class="card__table-data">
          Берладін Марк Маркович
        </td>
        <td id="table-data-group" class="card__table-data card__table-data-svg">Не щеплений</td>
      </tr>
    </tbody>
  </table>
</div>
