<div class="container container-f">
        <button class="burger header-button">
            <svg class="burger__icon">
                <use href="./svg/burger.svg#burger"></use>
            </svg>
        </button>
        <p class="logo">Єдина Школа</p>
        <div class="header__sort sort hidden">
            <h1 class="sort__title">Класи</h1>
            <div class="sort__group">
                <h1 class="sort__title">Групи</h1>
                <svg class="sort__icon">
                    <use href="./svg/sort.svg#sort"></use>
                </svg>
            </div>
            <div class="sort__vaccination">
                <h1 class="sort__title">Прививки</h1>
                <svg class="sort__icon">
                    <use href="./svg/sort.svg#sort"></use>
                </svg>
            </div>
        </div>
        <div class="support">
            <button class="support__btn header-button">
                <svg class="support__icon">
                    <use href="./svg/download.svg#download"></use>
                </svg>
            </button>
            <button class="support__btn header-button">
                <svg class="support__icon">
                    <use href="./svg/account.svg#account"></use>
                </svg>
            </button>
        </div>
</div>
