<button class="burger header-button">
  <svg class="burger__icon">
    <use href="./svg/burger.svg#burger"></use>
  </svg>
</button>
<a href="./index.html"><p class="logo">Єдина Школа</p></a>
<div class="header__sort sort">
  <a class="sort__title sort__title-class" href="./index.html">Класи</a>
  <div class="header__sort-modal">
    <div class="sort__group">
      <h1 class="sort__title">Групи</h1>
      <svg class="sort__icon">
        <use href="./svg/sort.svg#sort"></use>
      </svg>
    </div>
    <div class="sort__modal-block modal-block-group hidden"></div>
  </div>
  <div class="header__sort-modal">
    <div class="sort__vaccination">
      <h1 class="sort__title">Прививки</h1>
      <svg class="sort__icon">
        <use href="./svg/sort.svg#sort"></use>
      </svg>
    </div>
    <div class="sort__modal-block modal-block-vac hidden"></div>
  </div>
</div>
<div class="support">
  <button class="support__btn header-button">
    <svg class="support__icon">
      <use href="./svg/download.svg#download"></use>
    </svg>
  </button>
  <button class="support__btn support__btn-account header-button">
    <svg class="support__icon">
      <use href="./svg/account.svg#account"></use>
    </svg>
  </button>
</div>
