<div class="login hidden">
  <div class="login__container">
    <h1>Вхід</h1>
    <form name="login__form" class="login__form">
      <div class="login__block">
        <p class="login__input-name">Номер телефону</p>
        <input
          type="tel"
          name="login-input"
          class="login__input-tel"
          placeholder="+38..."
        />
      </div>
      <div class="login__block">
        <p class="login__input-name">Пароль</p>
        <input
          type="password"
          name="login-input"
          class="login__input-pass"
          placeholder="********"
        />
      </div>
      <button type="button" class="login__submit">Далі</button>
    </form>
  </div>
</div>
