<div class="burger-modal modal hidden">
    <div class="modal__container" id="modal__container">
        <button class="modal__close">
            <svg class="modal__close-svg">
                <use href="./svg/close.svg#close"></use>
            </svg>
        </button>
        <div class="modal__block">
            <button class="modal__block-title classes"><a href="./index.html">Класи</a></button>
            <button class="modal__block-title">Групи</button>
            <div class="modal__group">
            </div>
            <button class="modal__block-title">Щеплення</button>
            <div class="modal__vactination">
            </div>
        </div>
    </div>
</div>