<div class="redact__container">
    <div class="redact__block">
        <div class="reduct__block-name">
            <p class="reduct__block-title">ПІБ учня</p>
            <input type="name" class="redact__input-name">
        </div>
        <div class="reduct__block-birthday">
            <p class="reduct__block-title">Дата народження</p>
            <input type="date" name="birthday-date" id="birthday-data">
        </div>
        <div class="reduct__block-group">
            <p class="reduct__block-title">Група здоров'я</p>
            <select name="" id="redact__select-group">
                <option value="basic"></option>
                <option value="preparatory"></option>
                <option value="special"></option>
                <option value="liberated"></option>
            </select>
        </div>
        <div class="reduct__block-term">
            <p class="reduct__block-title">Термін дії</p>
            <input type="date" name="term-date" id="term-data">
        </div>
        <div class="reduct__block-vactination">
            <p class="reduct__block-title">Щеплення</p>
            <select name="" id="redact__select-vactination">
                <option value="true-vac"></option>
                <option value="false-vac"></option>
            </select>
        </div>
    </div>
    <button type="submit" class="redact__submit"></button>
</div>