<div class="redact__container hidden">
  <div class="redact__blocks">
    <button class="redact__close">
      <svg class="redact__svg">
        <use href="./svg/close-redact.svg#close2"></use>
      </svg>
    </button>
    <div class="redact__block redact__blocks-name">
      <p class="redact__blocks-title">ПІБ учня</p>
      <input placeholder="ПІБ учня" type="name" class="redact__input" id="input-name" />
    </div>
    <div class="redact__block redact__blocks-birthday">
      <p class="redact__blocks-title">Дата народження</p>
      <input
      
        type="date"
        name="birthday-date"
        value="2024-01-06"
        id="birthday-data"
        class="redact__input redact__input-date"
      />
    </div>
    <div class="redact__block redact__blocks-group">
      <p class="redact__blocks-title">Група здоров'я</p>
      <select
        name="redact__group"
        id="redact__select-group"
        class="redact__input redact__input-select"
      >
        <option value="basic">Основна</option>
        <option value="preparatory">Підготовча</option>
        <option value="special">Спеціальна</option>
        <option value="liberated">Звільнені</option>
      </select>
      <button class="custom-select"></button>
    </div>
    <div class="redact__block redact__blocks-term">
      <p class="redact__blocks-title">Термін дії</p>
      <input

        type="date"
        name="term-date"
        value="2024-01-06"
        id="term-data"
        class="redact__input redact__input-date"
      />
    </div>
    <div class="redact__block redact__blocks-vactination">
      <p class="redact__blocks-title">Щеплення</p>
      <select
        name=""
        id="redact__select-vactination"
        class="redact__input redact__input-select"
      >
        <option value="true-vac">Щеплений</option>
        <option value="false-vac">Не щеплений</option>
      </select>
      <button class="custom-select"></button>
    </div>
    <button type="submit" class="redact__submit">Зберегти</button>
    <include src="./components/calendar.html"></include>
  </div>
</div>
